body {
  background-color: #adb5bd;
  font-family: Poppins, sans-serif;
}

.nav-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-weight: 600;
}

.nav {
  background-color: #0a9396;
  color: #ffff;
}

.nav-link {
  color: #ffff;
  text-decoration: none;
  font-size: 24px;
}

h2 {
  font-weight: 400;
}

.search-row {
  justify-content: center;
  align-items: center;
}

.search-column {
  display: flex;
  justify-content: center;
}

#query {
  width: 18rem;
  height: 1.55rem;
  border: none;
  border-radius: 0.4rem;
  margin-top: 5.5rem;
  padding-left: 0.7rem;
  font-size: 0.875rem;
}
